
.newReviewContainer h1{
  margin-left: 1em;
}

.reviewsContainer h1{
  margin-left: 1em;
}

.newOrderContainer h1{
  margin-left: 1em;
}


.ordersContainer{
  margin: 1em;
  border: black 1px solid;
  margin: 2em;
  width: 25%;
}

.ordersContainer h1{
  margin-left: 1em;
  
}

.ordersContainer h2{
  margin-left: 1em;
  
}

.order{
  margin: 1em;
}


.review{
  border: black 1px solid;
  margin: 2em;
  width: 25%;
  text-align: center;
}

.newReview{
  border: black 1px solid;
  margin: 2em;
  width: 25%;
}

.newOrder{
  border: black 1px solid;
  margin: 2em;
  width: 25%;
}
.orderForm{
  margin: 1em;
}

.orderForm input{
  margin-left: 1em;
}

.newOrder button{
  margin-left: 1em;
  margin-bottom: 1em;
}

.reviewForm{
  margin: 1em;
}

.reviewForm input{
  margin-left: 1em;
}

.newReview button{
  margin-left: 1em;
  margin-bottom: 1em;
}

.review button {
  margin-bottom: 1em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
